<tr class="shadow rounded-lg hover:bg-gray-200">
    <td class="w-20 p-3 text-sm">
        02/03/2022
    </td>
    <td class="p-3 text-sm">
        Company1
    </td>
    <td class="p-3 text-sm">
        <!--client is a bussiness-->
        <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50 hover:underline">
            business
        </button>
         <!--private client-->
         <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
            private
        </button>
    </td>
    <td class="w-20 p-3 text-sm">
        $666.66
    </td>
    <td class="w-20 p-3 text-sm">
    <!--Chose one of the 2 buttons-->
        <!--Payed-->
        <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-gray-800 bg-green-700 rounded-lg bg-opacity-50">
            payed
        </button>
        <!--Pending-->
        <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-gray-800 bg-red-700 rounded-lg bg-opacity-50">
            pending
        </button>
    </td>
    <td class="w-20 p-3 text-sm">
        <button class="font-bold text-blue-500 hover:underline">details</button>
    </td>
    <td class="w-20 p-3 text-sm">
        <button class="font-bold text-red-500 hover:underline">remove</button>
    </td>
</tr>