<div>

</div>
<div class="flex flex-col">
    <table class="min-w-full border text-center">
        <thead>
            <tr>
                <th>customerID</th>
                <th>status</th>
                <th>due</th>
                <th>overdue [days]</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let x of invoices">
                <td>{{ x.contract_id }}</td>
                <td>{{invoiceStatusToString(x.status_id)}}</td>
                <td>{{x.due_date.toString()}}</td>
                <td>{{overdueDays(x.due_date).toString()}}</td>
            </tr>
        </tbody>
    </table>
</div>