<div class="bg-slate-300 m-3 drop-shadow-md h-fit rounded-lg p-3 text-slate-300" id="list">
    <div class="flex m-2 bg-slate-200 rounded-2xl p-4 justify-between">
        <div class="bg-slate-500 rounded-2xl p-1 pr-4 pl-4">
            name
        </div>
        <div class="bg-slate-500 rounded-2xl p-1 ml-2 md:ml-0 pr-4 pl-4">
            adress
        </div>
    </div>
    <app-forms
    *ngIf="this.service.meters.length > 0"
        [submitText]="'Submit values'"
        [title]="'The meters'"
        [type]="'meter-app'"
        [meters]="this.service.meters"
        (submitted)="submit()">
    </app-forms>
</div>
