<div class="w-full h-fit h-max-18 flex p-1 bg-slate-300 drop-shadow-md">
    <div class="mr-1 h-16 hidden md:block">
        <img src="../../assets/img/imgs/penLogoBig.png" alt="PE2logo" class="h-full w-full ">
    </div>
    <div class="mr-1 h-16 block md:hidden">
        <img src="../../assets/img/imgs/penLogoSmall.png" alt="PE2logo" class="h-full w-full ">
    </div>
    <div class="p-3 md:ml-4 flex justify-between items-center bg-slate-200 w-full rounded-3xl">
        <div>
            <button (click)="goPage1()" class="m-1 mr-3 w-fit p-1 pl-2 pr-2 bg-slate-500 text-slate-300 rounded-2xl hover:drop-shadow-md">Client list</button>
            <button (click)="goPage2()" class="m-1 w-fit p-1 pl-2 pr-2 bg-slate-500 text-slate-300 rounded-2xl hover:drop-shadow-md">Current client</button>
        </div>
        <!--
        <div>
            <button class="m-1 mr-3 w-fit p-1 pl-2 pr-2 bg-slate-500 text-slate-300 rounded-2xl hover:drop-shadow-md">Refresh</button>
        </div>
        -->

    </div>
</div>
