<div class="w-full h-16 flex p-1 bg-slate-300">
    <div class="mr-1 hidden md:block">
        <img src="../../assets/img/imgs/penLogoBig.png" alt="PE2logo" class="h-full w-full ">
    </div>
    <div class="mr-1 block md:hidden">
        <img src="../../assets/img/imgs/penLogoSmall.png" alt="PE2logo" class="h-full w-full ">
    </div>
    <div class="mr-1 md:ml-4 flex justify-center items-center">
        <button (click)="goPage1()" class="m-1 mr-3 w-fit p-1 bg-slate-500 text-slate-300 rounded">Client list</button>
        <button (click)="goPage2()" class="m-1 w-fit p-1 bg-slate-500 text-slate-300 rounded">Current client</button>
    </div>
</div>
