<div class="w-full h-16 border-2 border-red-600 flex p-1 bg-slate-300">
    <div class="h-12 border-2 border-blue-600 mr-1 sm:hidden md:hidden lg:block">
        <img src="../../assets/img/imgs/penLogoBig.png" class="h-full w-full ">
    </div>
    <div class="h-12 border-2 border-blue-600 mr-1 sm:block md:block lg:hidden">
        <img src="../../assets/img/imgs/penLogoSmall.png" class="h-full w-full ">
    </div>
    <div class="h-8 w-8 border-2 border-blue-600 text-center">
        >
    </div>
</div>