.custom-shape-divider-bottom-1650539649 {
    position: absolute;
    top: -125px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650539649 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-bottom-1650539649 .shape-fill {
    fill: #1D4ED8;
}