<div class="flex h-screen">
    <div class="m-auto md:relative w-full px-6 flex flex-col bg-white rounded-3xl md:max-w-4xl h-full">
        <div class="transform -translate-y-26 md:translate-y-0 mt-15 md:mb-20 flex flex-col justify-center md:ml-118 min-w-full">
            <h1 class="text-xl font-bold text-center md:text-center mt-10 mb-10">Frequently Asked Questions</h1>
            <div class="mt-9.5 space-y-6">
                <details *ngFor="let faq of faqs" class="pb-5 border-b md:w-200">
                    <summary class="flex justify-between items-center text-summary md:text-lg font-bold hover:cursor-pointer"> #{{ faq.id }} {{ faq.title }}</summary>
                    <p class="text-base font-normal">{{ faq.body }} </p>
                </details>       
            </div>
        </div>
    </div>
</div>
