<div class="p-4 sm:w-1/2 lg:w-1/3">
    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl hover:scale-110">
        <!--title and graph-->
        <h1 class="text-base font-bold m-2">Insert Title Here</h1><hr>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8k01sqpEr5vmb5UafKSKq5HCZGUUgEZsd6w&usqp=CAU" alt="image" class="h-1/2 w-fit object-center"><hr>
        
        <div class="p-6 hover:bg-indigo-700 hover:text-white transition duration-300 ease-in">                       
            <!--text under graph-->
            <div class="leading-relaxed mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nobis harum unde dolorem recusandae voluptatibus autem, corporis mollitia! Voluptatem voluptate nostrum nihil qui, dolores error?
            </div>
            <div class="flex items-center flex-wrap">
                <a href="#" class="text-indigo-300 inline-flex items-center md:mb-2 lg:mb-0">
                    Read More
                </a>   
            </div>                       
        </div>
    </div>
</div>