<div class="grid overflow-hidden grid-cols-10 grid-rows-6 gap-px h-screen">
    <div class="box row-start-1 row-end-1 col-start-1 col-end-11">
        <!--Header-->
    </div>
    <div class="box row-start-2 row-end-6 col-start-1 col-end-3 overflow-y-auto shadow">
        <!--filter div-->
    </div>
    <div class="box row-start-2 row-end-6 col-start-3 col-end-11">
        <div class="flex flex-wrap overflow-y-auto max-h-full border-md shadow">          
            <!--Place employee cards here-->
            <app-employee-card [employee]="employee"></app-employee-card>
            <app-add-employee-form></app-add-employee-form>
        </div>
    </div>
    <div class="box row-start-6 row-end-6 col-start-1 col-end-11">
        <!--Footer-->
    </div>
</div>
