
<h1 class="text-5xl p-5">Energy Usage</h1>

<div class="w-full flex justify-evenly p-20">
    <div class="w-full">
        <h2 class="text-2xl p-5">Monthly overview</h2>
        <app-big-graph></app-big-graph>
            
    </div>
    <div class="w-full">
        <h2 class="text-2xl p-5">Yearly overview</h2>
        <app-yearly-usage-chart></app-yearly-usage-chart>
    </div>
</div>

<app-medium-graph></app-medium-graph>
<app-small-graph></app-small-graph>

<p>This is the api data!:</p>
<p>{{txt}}</p>

    
