<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <h2>Sign in!</h2>
    <div class="form-group">
        <label class="form-label" for="loginMail">E-mail</label>
        <input class="form-control" id="logiMail" type="email" name="loginMail" required autofocus ngModel />
    </div>
    <div class="form-group">
        <label class="form-label" for="loginPassword">Password</label>
        <input class="form-control" id="loginPassword" type="password" name="loginPassword" required ngModel />
    </div>
    <div class="form-buttons">
        <button class="form-button" id="loginConfirm" type="submit">Login</button>
        <button class="form-button" id="linkReg" type="button" routerLink="/registration">Sign up</button>
    </div>
</form>