<!-- MANAGE INVOICES -->
<div *ngIf="!LogonError">
   
    <!-- <div class="grid overflow-hidden grid-cols-10 grid-rows-6 gap-px h-screen"> -->
    
    <div class="box row-start-2 row-end-6 col-start-3 col-end-11">
        <div class="flex flex-wrap overflow-y-auto max-h-full border-md shadow">            
            <table class="w-full rounded-lg shadow">
                <thead class="bg-gray-50 border-b-2 border-gray-200 sticky top-0">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Period Start</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Period End</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Private/Company</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Type</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Status</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Download PDF</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Pay</th>
                        <!--th class="p-3 text-sm font-semibold tracking-wide text-left">Remove</th-->
                    </tr>
                </thead>
                <tbody *ngFor="let invoice of invoices; let i = index">
                    <!-- For invoice manager person -->
                    <tr>
                        <td>{{dateFormat(invoice.period_start)}}</td>
                        <td>{{dateFormat(invoice.period_end)}}</td>
                        <td>{{GetCustomerType(invoice.customer.customer_type)}}</td>
                        <td>{{GetInvoiceType(invoice.type)}}</td>
                        <td>{{GetInvoiceStatus(invoice.status)}}</td>
                        <td><button class="link text-blue-700" (click)="OnClickDetails(i)">Download PDF</button></td>
                        <td><button class="link text-blue-700" (click)="UpdatePayment(i)" *ngIf="((CheckInvoiceStatus(invoice.status) && UserMan) || CheckUserMan(invoice.customer.id) && CheckInvoiceStatus(invoice.status))">Pay</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box row-start-6 row-end-6 col-start-1 col-end-11">
        <!--Footer-->
    </div>
</div>
<div *ngIf="LogonError">
    <p>An error has occured! Please re-log in and try again!</p>
</div>

<!-- </div> -->