<h2 mat-dialog-title>Add new client</h2>  
<mat-dialog-content>
<form>

  <mat-form-field>
    <input matInput #name
    placeholder="Name">
  </mat-form-field>
<br>
  <mat-form-field>  
    <input matInput #lastname
    placeholder="Lastname">
  </mat-form-field>
  <br>
  <mat-form-field>  
    <input matInput #type
    placeholder="Type">
  </mat-form-field> 

</form>
</mat-dialog-content>
  
  <mat-dialog-actions class="flex justify-evenly">
    <button mat-raised-button mat-primary mat-dialog-close mat-dialog-close="true" (click)="addCustomer(name.value,lastname.value,type.value)">Add</button>
    <button mat-raised-button mat-dialog-close mat-dialog-close="false" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
  