<div>
    <!-- <div *ngFor="let i of fields"> -->
        <!-- Iterate over all input fields, display -->
        <!-- {{i}} -->
    <!-- </div> -->
    <!-- <div [hidden]="Completed == true"> -->
        <!-- Completed: <input type="checkbox" checked=> -->
    <!-- </div>     -->
    <!-- <div [hidden]="Completed == false"> -->
        <!-- Completed: <input type="checkbox"> -->
    <!-- </div> -->
    <app-tech-filter-buttons (DoFilter)="QueriedShow($event)"></app-tech-filter-buttons>
    <div *ngFor="let row of LinesToShow; let no = index">
        <div *ngFor="let i of row.Fields">
            {{i}}
        </div>
        <div>
            Completed: <input type="checkbox" [checked]="row.Completed" (change)="UpdateTableItem(no, !row.Completed)">
        </div> 
    </div>
</div>