<!-- hover:shadow-xl hover:-mt-2 -->
<div class="flex flex-col items-center bg-white shadow-md rounded-lg p-5 transition-all h-full">
    <h2 class="text-xl font-bold text-center">{{ title }}</h2>
    <p class="p-1">{{ user?.name }}</p>
    <p></p>


    <app-button>
        <mat-icon class="scale-150" [inline]="true">person</mat-icon>
        View profile
    </app-button>
    <app-button *ngIf="user?.type == 'User'">
        <mat-icon class="scale-150" [inline]="true">attach_money</mat-icon>
        View subscription
    </app-button>
    
</div>