<div class="grid overflow-hidden grid-cols-10 grid-rows-6 gap-px h-screen">
    <div class="box row-start-1 row-end-1 col-start-1 col-end-11">
        <!--Header-->
    </div>
    <div class="box row-start-2 row-end-6 col-start-1 col-end-3 overflow-y-auto shadow">
        <!--Search div-->
        <div class="border-2 border-black w-40 pt-2 pb-4 m-10 rounded-lg flex-initial text-9xl text-center cursor-pointer" (click)="gotToPage('edit-supplier')">
            +<br>
            <p class="text-xl">Add Item</p>
        </div>
    </div>
    <div class="box row-start-2 row-end-6 col-start-3 col-end-11">
        <div class="flex flex-wrap overflow-y-auto max-h-full border-md shadow">          
            <!--Supplier listing-->
            <table class="w-full rounded-lg shadow">
                <thead class="bg-gray-50 border-b-2 border-gray-200 sticky top-0">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Name</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Supplies</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Running contract</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Details</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Contact</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">edit</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="shadow rounded-lg hover:bg-gray-200 ">
                        <td class="p-3 text-sm">
                            Company1
                        </td>
                        <td class="p-3 text-sm">
                            Electricity
                        </td>
                        <td class="p-3 text-sm">
                            <!--if there is one or more running contracts, place each contract details behind one button-->
                            <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-yellow-800 bg-yellow-200 rounded-lg bg-opacity-50 hover:underline">
                                Contract
                            </button>
                             <!--No running contract-->
                             <button class="p-1.5 text-xs font-medium uppercase tracking-wider text-gray-800 bg-gray-200 rounded-lg bg-opacity-50">
                                Contract
                            </button>
                        </td>
                        <td class="w-24 p-3 text-sm">
                            <button class="font-bold text-blue-500 hover:underline"   (click)="gotToPage('details-supplier')">Details</button>
                        </td>
                        <td class="w-24 p-3 text-sm">
                            <button class="font-bold text-blue-500 hover:underline">Contact</button>
                        </td>
                        <td class="w-20 p-3 text-sm">
                            <!-- Button will redirect you to the edit page -->
                            <button class="font-bold text-blue-500 hover:underline" (click)="gotToPage('edit-supplier')">edit</button>
                        </td>
                        <td class="w-20 p-3 text-sm">
                            <!-- Buttonw ill reditect your to the Delete page -->
                            <button class="font-bold text-red-500 hover:underline" (click)="gotToPage('delete-supplier')">remove</button>
                        </td>
                    </tr>  
                </tbody>
            </table>

        </div>
    </div>
    <div class="box row-start-6 row-end-6 col-start-1 col-end-11">
        <!--Footer-->
    </div>
</div>