
<div class="grid overflow-hidden grid-cols-10 grid-rows-6 gap-px h-screen">
    <div class="box row-start-1 row-end-1 col-start-1 col-end-11">
        <!--Header-->
    </div>
    <div class="box row-start-2 row-end-6 col-start-1 col-end-3 overflow-y-auto shadow">
        <!--Search div-->
        <div class="border-2 border-black w-40 pt-2 pb-4 m-10 rounded-lg flex-initial text-9xl text-center cursor-pointer" (click)="gotToPage('add-suplier')">
            +<br>
            <p class="text-xl">Add Item</p>
        </div>
    </div>
    <div class="box row-start-2 row-end-6 col-start-3 col-end-11">
        <div class="flex flex-wrap overflow-y-auto max-h-full border-md shadow">          
            <!--Supplier listing-->
            <table class="w-full rounded-lg shadow">
                <thead class="bg-gray-50 border-b-2 border-gray-200 sticky top-0">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Name</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Supplies</th>                        
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">VAT Number</th>                        
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Details</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">edit</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let sup of supplierService.supplierF' class="shadow rounded-lg hover:bg-gray-200 ">
                        <td class="p-3 text-sm">
                            {{sup.company_name}}
                        </td>
                        <td class="p-3 text-sm">
                            {{sup.service_type}}
                        </td>
                        <td class="p-3 text-sm">
                            {{ sup.vat_number}}
                        </td>
                        <td class="w-24 p-3 text-sm">
                            <button class="font-bold text-blue-500 hover:underline" [routerLink]="['/details-supplier/',sup.id]" routerLinkActive="router-link-active">Details</button>
                        </td>
                        <td class="w-20 p-3 text-sm">
                            <!-- Button will redirect you to the edit page -->
                            <button class="font-bold text-blue-500 hover:underline" [routerLink]="['/edit-supplier/',sup.id]">edit</button>
                        </td>
                        <td class="w-20 p-3 text-sm">
                            <!-- Buttonw ill reditect your to the Delete page -->
                            <button class="font-bold text-red-500 hover:underline" (click)="gotToPage('delete-supplier')">remove</button>
                        </td>
                    </tr>  
                </tbody>
            </table>

        </div>
    </div>
    <div class="box row-start-6 row-end-6 col-start-1 col-end-11">
        <!--Footer-->
    </div>
</div>