<div class="w-96 border border-solid border-red-600 flex" >
    <div class="w-fit m-2 border border-solid border-blue-600">
        <p>This is message</p>
    </div>

    <div class="flow-root ml-24">
        <div class="w-fit m-2 border border-solid border-blue-600 float-right" (click)="onClick()">
            <p>Ok</p>
        </div>
        <div class="w-fit m-2 border border-solid border-blue-600 float-right" (click)="onClick2()">
            <p>not Ok</p>
        </div>
    </div>
    
   
</div>