<!--container to place all the cards in (place all cards in this container)-->
<div class="p-4 max-w-xs">
    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl">
    
            <h2 class="text-4xl">{{employeeService.current_Emp.first_name}} {{employeeService.current_Emp.last_name}}</h2>
        
        <!--Make clicking div go to details page to edit employee-->
        <div class="p-6 hover:bg-gray-700 hover:text-white transition duration-300 ease-in cursor-pointer">
            <h1 class="text-2xl font-medium text-indigo-300 mb-1"> Birthdate: {{employeeService.current_Emp.birth_date}}</h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Email: {{employeeService.current_Emp.email}} </h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Phonenumber: {{employeeService.current_Emp.phone_number}} </h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Hiredate: {{employeeService.current_Emp.hire_date}} </h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Address: {{employeeService.current_Emp}} {{employeeService.current_Emp.house_number}} </h1>
            <h1 class="text-2cl font-medium text-indigo-300 mb-1">{{employeeService.current_Emp.city}} {{employeeService.current_Emp.postal_code}} {{employeeService.current_Emp.country}}</h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Department: {{employeeService.current_Emp.department}} </h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Gender: {{employeeService.current_Emp.gender}} </h1>
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">Salary: {{employeeService.current_Emp.salary}} </h1>
        </div>
    </div>
</div>
