<!--container to place all the cards in (place all cards in this container)-->
<div class="p-4 max-w-xs">
    <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-xl">
    
            <h2>{{employeeService.current_Emp.FirstName}} {{employeeService.current_Emp.LastName}}</h2>
        
        <!--Make clicking div go to details page to edit employee-->
        <div class="p-6 hover:bg-gray-700 hover:text-white transition duration-300 ease-in cursor-pointer">
            <h1 class="text-2xl font-medium text-indigo-300 mb-1">{{employeeService.current_Emp.BirthDate}}</h1>
            <h1 class="text-lg font-semibold mb-3">test</h1>            
        </div>
    </div>
</div>
