<div class="min-h-screen flex items-center justify-center bg-gray-700">

    <div class="rounded shadow-2xl bg-white p-5 text-2xl">
       
        <label class="font-bold flex items-center justify-center pb-5">Company Details</label><br>

        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>ID:</span>
            <span>1</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>Name:</span>
            <span>Company name</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>Adress:</span>
            <span>Bierstraat 12</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>City:</span>
            <span>2627 Schelle</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>Supplies:</span>
            <span>Elektricity</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span>Ritten</span>
            <span>0</span>
        </div>




        <div class="flex justify-center m-2 pt-5">
            <button class="p-1.5 px-5 text-lg uppercase font-medium tracking-wider text-black-600 hover:underline hover:cursor-pointer bg-red-400 rounded-lg" (click)="gotToPage('suppliers')">Back</button>
        </div>

    </div>
</div>