<div class="border-2 border-black mx-auto my-4 w-11/12">
    <div class="">
        <div class="text-center text-3xl font-bold underline underline-offset-2">Company Details</div>
        <table class="border-2 border-black mx-auto my-5">
            <tr class="border-2 border-black">
                <th class="pr-48">ID:</th><td class="">0</td>
            </tr>
            <tr>
                <th class=" pr-48">Naam:</th><td class="">Company name</td>
            </tr>
            <tr class="border-2 border-black">
                <th class="pr-48">Adres:</th><td class="">Bierstraat 12</td>
            </tr>
            <tr>
                <th class="pr-48">Gemeente:</th><td class="">2627 Schelle</td>
            </tr>
            <tr>
                <th class=" pr-48">Supplies:</th><td class="">Gas</td>
            </tr>
            <tr class="border-2 border-black">                
                <th class="pr-48">Ritten</th><td class="">0</td>
            </tr>
            <tr >
                <td colspan="2" class="p-2"><button class="border-2 border-black m-2 content-center m-auto block" (click)="gotToPage('suppliers')">Back To suppliers</button></td>
            </tr>
        </table>
    </div>
</div>