<div class="min-h-screen flex items-center justify-center bg-gray-700">

    <div class="rounded shadow-2xl bg-white p-5 text-2xl">
       
        <label class="font-bold flex items-center justify-center pb-5">Company Details</label><br>


        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">Name:</span>
            <span>{{supName}}</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
        <!--     Street + house number -->
            <span class="font-bold">Adress:</span>
            <span>{{ supStreet + " " + supHousenumber }}</span>
        </div>

        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">City:</span>
            <span> {{ supCity }} </span>
        </div>

        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">Postalcode:</span>
            <span> {{ supPostal }} </span>
        </div>

        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">Country:</span>
            <span> {{ supCountry }} </span>
        </div>

        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">VAT</span>
            <span>{{supVAT}}</span>
        </div>
        <div class="grid grid-cols-2 mb-3 gap-2">
            <span class="font-bold">Service</span>
            <span>{{supService}}</span>
        </div>




        <div class="flex justify-center m-2 pt-5">
            <button class="p-1.5 px-5 text-lg uppercase font-medium tracking-wider text-black-600 hover:underline hover:cursor-pointer bg-red-400 rounded-lg" (click)="gotToPage('suppliers')">Back</button>
        </div>

    </div>
</div>