<div class="border-2 border-black transition-all w-4/5 bg-gray-400 mx-auto my-1.5 text-center">Header</div>

<div class="border-2 border-black w-3/4 mx-auto my-1.5">
 
<!-- 
    INFO:
        - Same as the Add page but this form will edit the selected Supplier

    TODO:
        - check if fgields are valid -> if not error msg
        
   -->
<div class="border-2 border-black w-fit px-11 py-4 m-10 mx-auto">

    <form>
        <table border="2">
            <tr>
                <th colspan="2"><p class="mb-5 text-3xl underline">Edit -name of supplier- Supplier</p></th>
            </tr>
            <tr>
                <th>Name Supplier</th>
                <td><input type="text" class="border-2 border-black ml-4 mb-3" name="name"></td>
            </tr>
            <tr>
                <th>Addres Supplier</th>
                <td><input type="text" class="border-2 border-black ml-4 mb-3" name="addres"></td>
            </tr>
            <tr>
                <th>City Supplier</th>
                <td><input type="text" class="border-2 border-black ml-4 mb-3" name="city"></td>
            </tr>
            <tr>
                <th>ZIP code Supplier</th>
                <td><input type="number" class="border-2 border-black ml-4 mb-3" name="zip"></td>
            </tr>
            <tr>
                <th>Type goods</th>
                <td>
                    <select class="border-2 border-black ml-4 mb-3" name="type">
                        <option>Electricity</option>
                        <option>Gas</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th colspan="2"><button class="border-2 border-black w-52" (click)="editSup()">Edit</button></th> <!-- Will edit the selectet Supplier in the Database -->
            </tr>
            <tr>
                <th colspan="2"><button class="border-2 border-black w-36 mt-4" (click)="gotToPage('suppliers')">Back to Supplier</button></th>
            </tr>
        </table>
    </form>

</div>





</div>

<div class="border-2 border-black transition-all w-4/5 bg-gray-400 mx-auto my-1.5 text-center">Footer</div>
