<div class="bg-slate-100 min-h-screen flex flex-row">
    <div class="2xl:w-1/6"></div>
    <div class="2xl:w-4/6">
        <app-button [href]="'dashboard/0'">0</app-button>
        <app-button [href]="'dashboard/1'">1</app-button>
        <app-button [href]="'dashboard/2'">2</app-button>
        <h1 class="text-5xl font-bold p-5">{{ title }}
        </h1>
        
        <div class="flex flex-wrap overflow">

            <app-small-card *ngIf="user?.type == 'Employee'" [title]="'Manage employees'" [href]="'manage-employees'"></app-small-card>
            <app-small-card *ngIf="user?.type == 'Employee'" [title]="'Manage clients'" [href]="'manage-clients'"></app-small-card>
            <app-small-card *ngIf="user?.type == 'Employee'" [title]="'Manage invoices'" [href]="'manage-invoices'"></app-small-card>

            <app-big-card>
                <app-monthly-usage-chart></app-monthly-usage-chart>
            </app-big-card>
            <app-profile-card [user]="user"></app-profile-card>
        <div>
    </div>
    <div class="2xl:w-1/6"></div>
</div>