<div class="bg-slate-100 min-h-screen flex flex-row">
    <div class="2xl:w-1/6"></div>
    <div class="2xl:w-4/6 w-full">
        <h1 class="text-5xl font-bold p-5">{{ title }}
        </h1>
        <div class="">
            <app-profile-card class=" basis-full" ></app-profile-card>
        </div>
        <div class="flex flex-wrap overflow-auto">

            <app-small-card *ngIf="this.employeeRoles.includes(this.auth.getUserRoleId()!)" [title]="'Manage suppliers'" [icon]="'archive'" [href]="'manage-suppliers'"></app-small-card>
            <app-small-card *ngIf="this.employeeRoles.includes(this.auth.getUserRoleId()!)" [title]="'Manage clients'" [icon]="'group icon'" [href]="'manage-clients'"></app-small-card>
            <app-small-card *ngIf="this.employeeRoles.includes(this.auth.getUserRoleId()!)" [title]="'Manage invoices'" [icon]="'file_copy'"  [href]="'manage-invoices'"></app-small-card>
            <app-small-card *ngIf="this.auth.getUserRoleId() == this.UserRole.CUSTOMER" [title]="'consumption estimations'" [icon]="'trending_up'" [href]="'consumption-estimation'"></app-small-card>
            <app-small-card *ngIf="this.auth.getUserRoleId() == this.UserRole.MANAGER" [title]="'Manage employees'" [icon]="'account_circle'"  [href]="'manage-employees'"></app-small-card>


        <div>
    </div>
    <div class="2xl:w-1/6"></div>
</div>