<app-header></app-header>
<app-menubar></app-menubar>
<div>
    <div class="border border-solid border-red-600 w-fit m-auto flex mt-2 mb-2">
        <app-box1 class="m-5"></app-box1>
        <app-box2 class="m-5"></app-box2>
        <app-box4 class="m-5"></app-box4>
    </div>
    <div class="border border-solid border-red-600 w-fit m-auto flex mt-2 mb-2">
        <app-box3 class="m-5"></app-box3>
        <app-box2 class="m-5"></app-box2>
    </div>
    <div class="border border-solid border-red-600 w-fit m-auto flex mt-2 mb-2">
        <app-box5 class="m-5"></app-box5>
    </div>
</div>


<app-footer></app-footer>