<!--container to place all the cards in (place all cards in this container)-->
<div class="card-container">

    <div class="card card-shadow">
        <!--image of person-->
        <div class="card-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7csvPWMdfAHEAnhIRTdJKCK5SPK4cHfskow&usqp=CAU" alt="personPlaceholder" class="card-image">
        </div>
        <div class="card-body">
            <div class="card-employee-basic">
                <!--employee name-->
                <span class="card-employee-basic name">Kianna Hodgson</span><br>
                <!--department-->
                Marketing Department
                <hr>
            </div>
            <!--extra info in scroll div-->
            <div class="card-scroll-div">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis nibh, rhoncus nec iaculis nec, eleifend nec dolor. Mauris eu nulla ex. Quisque molestie, sem vitae posuere ullamcorper, leo felis aliquam arcu, a maximus dolor massa vitae urna. Aenean tincidunt laoreet felis nec pretium. Vestibulum cursus ligula eget ante consectetur.
            </div>
        </div>
        <div class="card-footer">
            <button>Details</button>
        </div>
    </div>

</div>
