<!-- bg-gradient-to-br from-blue-700 to-blue-500 -->
<a href="{{href}}"

[ngClass]="{
    'hover:bg-blue-500 border-blue-500 text-blue-500': type == 'info',
    'hover:bg-yellow-500 border-yellow-500 text-yellow-500': type == 'warning',
    'hover:bg-red-500 border-red-500 text-red-500': type == 'error',
    'hover:bg-green-500 border-green-500 text-green-500': type == 'success'
}"

class="px-3 py-2
hover:-mt-0.5
shadow-md hover:shadow-2xl 
border-4 
transition-all rounded-3xl  hover:text-white">
    <ng-content></ng-content>
</a>